.banner .title {
	color: #04b87d;
	font-size: 2.5rem;
	line-height: 1.5;
	margin-bottom: 1.375rem;
}

.banner .subtitle {
	color: #262626;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 0px;
}

.banner img {
	max-width: 29.1875rem;
}

.banner p {
	color: #686767;
	font-size: 1.25rem;
	margin-bottom: 0px;
	margin-top: 2rem;
}

.banner p strong {
	color: #1a1a1a;
}
